FORMAT: 1A
HOST: https://nertivia.net/api

# Nertivia

Nertivia API documentiaion

## Want to contribute?
Create an issue/pull request [here](https://github.com/Nertivia-Compose/nertivia-docs)

## Authorization
You'll need your account token to execute some actions. Here are steps to get it:

- Press `ctrl + shift + i` on keyboard
- Go to `Console` tab
- Type `localStorage["hauthid"]`

## Messages [/messages/channels/{channelID}]

+ Parameters
    + channelID (required, string, `123456789`) ... ID of a channel
    
### Get last 50 [GET]
    
+ Request (application/json)

    + Headers

            Authorization: token
    
+ Response 200

        {
            "channelID": string,
            "messages": [{
                "channelID": string,
                "created": number,
                "creator": {
                    "username": string,
                    "uniqueID": string,
                    "tag": string
                    },
                "files": [],
                "mentions": [],
                "message": string,
                "messageID": string,
                "type": number
            }],
            "status": bool
        }
        
        
+ Response 401

        {"message":"Invalid Token."}
        
+ Response 404

        {"message":"Channel doesn't exist."}
        
### Send [POST]

+ Request (application/json)

    + Headers

            Authorization: token
        
    + Body

            {"message": "content"}
        
+ Response 200

        {
            "status": bool,
            "messageCreated": {
            "channelID": string,
            "message": message,
                "creator": {
                "uniqueID": string,
                "username": string,
                "tag": string,
                "avatar": string
                "admin": number
            },
            "created": timestamp,
            "mentions": [],
            "quotes": [],
            "messageID": string
            }
        }
        
+ Response 401

        {"message": "Invaild Token."}
        
+ Response 403

        {"message": "Cant send empty message."}
        
+ Response 404

        {"message": "Channel doesn't exist."}


### Edit [PATCH /messages/{messageID}/channels/{channelID}]

+ Parameters
    + messageID (required, string, `123456789`) ... ID of a message
    
+ Request (application/json)

    + Headers
    
            Authorization: token
        
    + Body

            {"message": "content"}
        
+ Response 200

        {
        "channelID": string,
        "message": string,
        "creator": {
            "id": string,
            "username": string,
            "tag": string,
            "avatar": string,
            "badges": number
        },
        "created": timestamp,
        "mentions": [],
        "quotes": [],
        "messageID": string,
        "timeEdited": timestamp,
        "files": []
        }
        
+ Response 401

        {"message": "Invaild Token."}
        
+ Response 403

        {"message": "Cant send empty message."}
        
+ Response 404

        {"message": "Channel doesn't exist."}
        
### Delete [DELETE /messages/{messageID}/channels/{channelID}]

+ Parameters
    + messageID (required, string, `123456789`) ... ID of a message
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {"channelID": "string", "messageID": "string"}
        
+ Response 401

        {"message":"Invalid Token."}
        
+ Response 404

        {"message":"Message was not found."}
        
+ Response 404

        {"message":"Channel doesn't exist."}
        
### Add a reaction [POST /messages/{messageID}/channels/{channelID}/reactions]

+ Parameters
    + messageID (required, string, `123456789`) ... ID of a message
    + channelID (required, string, `123456789`) ... ID of a channel
    
+ Request (application/json)

    + Headers
    
            Authorization: token

    + Body

            {"gif": false, "unicode": "👌"}

+ Response 200

        {
        "channelID": "string",
        "messageID": "string",
        "reactedByUserID": "string",
        "reaction": {
            "unicode": "string",
            "gif": boolean,
            "count": integer
            }
        }
        
### Remove a reaction [DELETE /messages/{messageID}/channels/{channelID}/reactions]

+ Parameters
    + messageID (required, string, `123456789`) ... ID of a message
    + channelID (required, string, `123456789`) ... ID of a channel
    
+ Request (application/json)

    + Headers
    
            Authorization: token

    + Body

            {"unicode": "👌"}

+ Response 200

        {
        "channelID": "string",
        "messageID": "string",
        "unReactedByUserID": "string",
        "reaction": {
            "unicode": "string",
            "gif": boolean,
            "count": integer
            }
        }
        
## Channels [/servers/{guildID}/channels]

+ Parameters
    + guildID (required, string, `123456789`) ... ID of a guild
    
## Get [GET /channels/{channelID}]

+ Parameters
    + channelID (required, string, `123456789`) ... ID of a channel

+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {
        "name":"String",
        "channelID":"String",
        "server_id":"String"
        }
        
### Create [PUT]

+ Request (application/json)

    + Headers
    
                Authorization: token
                
    + Body
    
            {
                "name": string
            }
            
+ Response 200

        {
        "channel": {
            "channelID": string,
            "lastMessaged": timestamp,
            "name": string,
            "server_id": string,
            "status": number,
            "recipients": []
            }
        }
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 404

        {"message": "Server doesn't exist!"}
        
### Edit [PATCH /servers/{guildID}/channels/{channelID}]
        
+ Parameters
    + channelID (required, string, `123456789`) ... ID of a channel
            
+ Request (application/json)
        
    + Headers
    
                Authorization: token
    + Body

            {
                "name": string,
                "permissions": {
                    "send_message": bool
                    },
            }
            
+ Response 200

        {
            "name": string,
            "permissions": {
                "send_message": bool
                },
            "channelID": channelID
        }
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 404

        {"message": "Server doesn't exist!"}
        
+ Response 404

        {"message": "ChannelID is invalid or does not exist in the server."}
        
### Delete [DELETE /servers/{guildID}/channels/{channelID}]
        
+ Parameters
    + channelID (required, string, `123456789`) ... ID of a channel
            
+ Request (application/json)
        
    + Headers
    
                Authorization: token
            
+ Response 200

        {
        "channel": {
            "channelID": string,
            "lastMessaged": timestamp,
            "name": string,
            "server_id": string,
            "status": number,
            "recipients": []
            }
        }
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 403

        {"message": "Cannot delete default channel."}
        
+ Response 404

        {"message": "Server doesn't exist!"}
        
+ Response 404

        {"message": "ChannelID is invalid or does not exist in the server."}
        
## Roles [/servers/{guildID}/roles]

+ Parameters
    + guildID (required, string, `123456789`) ... ID of a guild
    
### Create [POST]

+ Request (application/json)

    + Headers
    
                Authorization: token
                
    + Body
    
            {"name": "New Role"}
            
+ Response 200

        {role_array}
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 404

        {"message": "Server doesn't exist!"}
        
### Add to member [PATCH /servers/{guildID}/members/{memberID}/roles/{roleID}]

+ Parameters
    + memberID (required, string, `123456789`) ... member ID to assign role
    + roleID (required, string, `123456789`) ... role ID to assign
    
+ Request (application/json)
        
    + Headers
    
                Authorization: token
            
+ Response 200

        {"success": true}
        
### Remove form member [DELETE /servers/{guildID}/members/{memberID}/roles/{roleID}]

+ Parameters
    + memberID (required, string, `123456789`) ... member ID to remove role
    + roleID (required, string, `123456789`) ... role ID to revome
    
+ Request (application/json)
        
    + Headers
    
                Authorization: token
            
+ Response 200

        {"success": true}
        
### Edit [PATCH /servers/{guildID}/roles/{roleID}]

+ Parameters
    + roleID (required, string, `123456789`) ... role ID to edit
        
+ Request (application/json)
        
    + Headers
    
                Authorization: token
                
    + Body
    
            {
                "name": "New Name",
                "permissions": 2,
                "color": "#ffffff"
            }
            
+ Response 200

        {role_array}
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 404

        {"message": "Server doesn't exist!"}
        
### Delete [DELETE /servers/{guildID}/roles/{roleID}]

+ Parameters
    + roleID (required, string, `123456789`) ... role ID to delete
        
+ Request (application/json)
        
    + Headers
    
                Authorization: token
            
+ Response 200

        {role_array}
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 404

        {"message": "Server doesn't exist!"}
        
## Servers [/servers]

### Create [POST]

+ Request (application/json)

    + Headers
    
            Authorization: token
        
    + Body
    
            {"name": "Example"}
        
+ Response 200

        {
            "avatar": null,
            "channel_position": [],
            "FCM_devices": [],
            "name": string,
            "creator": {
                "uniqueID": creatorID
            },
            "default_channel_id": defaultChannelID,
            "server_id": guildID,
            "user_bans": [],
            "created": timestamp
        }
        
+ Response 401

        {"message": "Invalid Token."}
        
### Get info by server ID [GET /servers/{guildID}]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {
        "name":"String",
        "avatar":"String",
        "default_channel_id":"String",
        "server_id":"String",
        "created":Timestamp,
        "banner":"String"
        }
        
### Get info by invite code [GET /servers/invite/{code}]

+ Parameters
    + code (required, string, `nertivia`) ... Guild invite code
    
+ Request (application/json)
            
+ Response 200

            {
            "_id":"string",
            "avatar":"string",
            "channel_position":[],
            "name":"string",
            "creator":"string",
            "default_channel_id":"string",
            "server_id":"string",
            "created":timestamp,
            "__v":number,
            "banner":"string",
            "verified":bool,
            "public":bool
        }
        
### Edit [PATCH /servers/{guildID}]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID to edit
    
+ Request (application/json)

    + Headers
    
            Authorization: token
        
    + Body
    
            {"name": "Example"}
        
+ Response 200

        {
            "name": string,
            "server_id": guildID
        }
        
+ Response 401

        {"message": "Invalid Token."}
        
### Join [POST /servers/invite/{code}]

+ Parameters
    + code (required, string, `nertivia`) ... Guild invite code
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {
        "_id":"string",
        "avatar":"string",
        "channel_position":[],
        "name":"string",
        "creator":"string",
        "default_channel_id":"string",
        "server_id":"string",
        "created":timestamp,
        "__v":number,
        "banner":"string",
        "verified":bool,
        "public":bool
        }
        
### Leave [DELETE /servers/{guildID}]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID to leave
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {"status": "Done!"}
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 403

        {"message": "You may delete your swerver trough the server settings page."}
        
### Delete [POST /servers/{guildID}/delete]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID to delete
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {"status": "Done!"}
        
+ Response 401

        {"message": "Invalid Token."}
        
+ Response 403

        {"message": "Only the creator of the servers can delete servers."}
        
### Kick member [DELETE /servers/{guildID}/members/{memberID}]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID to delete
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {"status": "Done!"}
        
### Get ban list [GET /servers/{guildID}/bans]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID to delete
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

            []
        
### Ban member [PUT /servers/{guildID}/bans/{memberID}]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID to delete
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {"status": "Done!"}
        
### Unban member [DELETE /servers/{guildID}/bans/{memberID}]

+ Parameters
    + guildID (required, string, `123456789`) ... Guild ID to delete
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {"status": "Done!"}
        
## User [/user]

### Get info [GET /user/{userID}]

+ Parameters
    + userID (required, string, `123456789`) ... User ID to get info

+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {
        "user": {
        "_id": "string",
        "avatar": "string",
        "admin": number,
        "badges": [],
        "username": "string",
        "uniqueID": "string",
        "tag": "string",
        "created": timestamp,
        "about_me": {
              "_id": "string",
              "gender": "string",
              "age": "string"
              "continent": "string",
              "country": "string",
              "about_me": "string"
              },
        },
        "commonServersArr": [],
        "commonFriendsArr": [],
        "isBlocked": bool
        }
        
### Edit survey [PUT /user/survey]
    
+ Request (application/json)

    + Headers
    
            Authorization: token
            
    + Body
    
            {
            "about_me": "string",
            "age": "string",
            "continent": "string",
            "country": "string",
            "gender": "string",
            "name": "string"
            }
            
+ Response 200

        {"message": "Saved!"}
        
### Set a custom status [POST /settings/custom-status]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
    + Body
    
            {"custom_status": "string"}
            
+ Response 200

        {"custom_status": "string"}
### Send a friend request [POST /user/relationship]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
    + Body
    
            {"username": "string", "tag": "string"}
            
+ Response 200

        {"status": true, "message": "Request sent to <user>"}
        
### Accept friend request [PUT /user/relationship]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
    + Body
    
            {"uniqueID": "string"}
            
+ Response 200

        {"status": true, "message": "Request accepted"}
        
### Decline/Cancel friend request [DELETE /user/relationship]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
    + Body
    
            {"uniqueID": "string"}
            
+ Response 200

        {"status": true, "message": "Request deleted"}
        
### Block user [POST /user/block]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
    + Body
    
            {"uniqueID": "string"}
            
+ Response 200

        {"message": "User blocked"}
        
### Unblock user [DELETE /user/block]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
    + Body
    
            {"uniqueID": "string"}
            
+ Response 200

        {"message": "User unblocked"}
        
### Get bot list [GET /bots]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {
        "lastSeen":number,
        "avatar":null,
        "status":number,
        "admin":number,
        "friends":[],
        "servers":[],
        "survey_completed":bool,
        "badges":[],
        "readTerms":bool,
        "botCommands":[],
        "_id":"string",
        "username":"<user>'s Bot",
        "bot":bool,
        "createdBy":"string",
        "ip":"string",
        "uniqueID":"string",
        "tag":"string",
        "created":timestamp,
        "__v":number
        }
        
### Create a bot [POST /bots]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 200

        {
        "lastSeen":number,
        "avatar":null,
        "status":number,
        "admin":number,
        "friends":[],
        "servers":[],
        "survey_completed":bool,
        "badges":[],
        "readTerms":bool,
        "botCommands":[],
        "_id":"string",
        "username":"<user>'s Bot",
        "bot":bool,
        "createdBy":"string",
        "ip":"string",
        "uniqueID":"string",
        "tag":"string",
        "created":timestamp,
        "__v":number
        }
        
### Get bot info [GET /bots/{botID}]

+ Parameters
    + botID (required, string, `123456789`) ... Bot ID to get
            
+ Response 200

        {
        "avatar":"string",
        "botCommands":[],
        "username":"string",
        "createdBy": {
            "avatar":"string",
            "username":"string",
            "uniqueID":"string",
            "tag":"string"
            },
        "uniqueID":"string",
        "tag":"string"
        }
        
### Delete a bot [DELETE /bots/{botID}]

+ Parameters
    + botID (required, string, `123456789`) ... Bot ID to delete
            
+ Response 200

        {"message":"success"}
        
### Create an account [POST /user/register]

+ Request (application/json)

        {
        "email": "string",
        "password": "string",
        "username": "string"
        }
            
+ Response 200

        {"message":"confirm email"}
        
### Delete account [DELETE /user/delete-account]

+ Request (application/json)

    + Headers
    
            Authorization: token
            

+ Response 200

        {"message":"success"}
        
### Login [POST /user/login]

+ Request (application/json)

        {"email": "string", "password": "string"}
            
+ Response 200

        {
        "message": "You were logged in.",
        "action": "logged_in",
        "user": {
            "username": "string",
            "tag": "string",
            "uniqueID": "string",
            "avatar": "string"
        },
        "token": "string"
        }

### Logout [DELETE /user/logout]

+ Request (application/json)

    + Headers
    
            Authorization: token
            
+ Response 204